# general
node_modules
.DS_Store
/dist

# carpeta 1_2
ejemplo1_2/node_modules
ejemplo1_2/.DS_Store
ejemplo1_2/dist

# carpeta 2
ejemplo2/node_modules
ejemplo2/.DS_Store
ejemplo2/dist

# carpeta 3
ejemplo3/node_modules
ejemplo3/.DS_Store
ejemplo3/dist

# carpeta 4
ejemplo4/node_modules
ejemplo4/.DS_Store
ejemplo4/dist

# carpeta 5
ejemplo5/node_modules
ejemplo5/.DS_Store
ejemplo5/dist

# carpeta 6
ejemplo6/node_modules
ejemplo6/.DS_Store
ejemplo6/dist

# carpeta 8
ejemplo8/node_modules
ejemplo8/.DS_Store
ejemplo8/dist

# carpeta 9
ejemplo9/node_modules
ejemplo9/.DS_Store
ejemplo9/dist

# carpeta 10
ejemplo10/node_modules
ejemplo10/.DS_Store
ejemplo10/dist

# carpeta 11
ejemplo11/node_modules
ejemplo11/.DS_Store
ejemplo11/dist

# carpeta 13
ejemplo13/node_modules
ejemplo13/.DS_Store
ejemplo13/dist

# carpeta 14
ejemplo14/node_modules
ejemplo14/.DS_Store
ejemplo14/dist

# carpeta 15
ejemplo15/node_modules
ejemplo15/.DS_Store
ejemplo15/dist

# carpeta 16
ejemplo16/node_modules
ejemplo16/.DS_Store
ejemplo16/dist

# carpeta 17
ejemplo17/node_modules
ejemplo17/.DS_Store
ejemplo17/dist

# carpeta 18
ejemplo18/node_modules
ejemplo18/.DS_Store
ejemplo18/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?