# general
node_modules
.DS_Store
/dist

# carpeta 1_2
ejemplo1_2/node_modules
.DS_Store
ejemplo1_2/dist

# carpeta 2
ejemplo2/node_modules
.DS_Store
ejemplo2/dist

# carpeta 3
ejemplo3/node_modules
.DS_Store
ejemplo3/dist

# carpeta 4
ejemplo4/node_modules
.DS_Store
ejemplo4/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?